<a href="https://colab.research.google.com/github/VishwanathReddyAenugu/MyLearning/blob/main/pyspark/pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   **Handling missing values**
2.   **Dropping columns**
3.   **Dropping rows**
4.   **various parameters in droping functionalities**

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 62.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=086da865df199ebfad03678a8e7e124734848556d157b0a0a360fb45847ca786
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
import pyspark 
import pandas as pd

In [3]:
data = {
        "Name": ["krish","sudharshan","sunny","paul","harsha","shubam","mahesh",None,None],
        "age" : [31, 30,29,24,21,23,None,34,36],
        "Experience": [10,8,4,3,1,2,None,10,None],
        "salary": [30000, 25000, 20000, 20000, 15000, 18000, 40000, 38000,None]
       }

In [4]:
df = pd.DataFrame.from_dict(data)     
df.to_csv("test1.csv")

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [6]:
pyspark_df = spark.read.csv("test1.csv",header=True, inferSchema=True)

In [7]:
pyspark_df.show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

**Deleting null rows**

In [8]:
pyspark_df.na.drop().show() # deletes null rows

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
+---+----------+----+----------+-------+

**Delete rows that contains null values in all columns**

In [9]:
pyspark_df.na.drop(how="all").show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

**Delete rows that contains null values in atleast one column**

In [10]:
pyspark_df.na.drop(how ="any").show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
+---+----------+----+----------+-------+

**Delete rows that contains more than 2 null values**

In [12]:
pyspark_df.na.drop(how="any",thresh=2).show()  #include only those rows that contain atleast 2 not null values

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

**filling the missing values**

In [14]:
pyspark_df.na.fill('missing_value').show() # fills null values in all cells(that are strings) with "missing_value"

+---+-------------+----+----------+-------+
|_c0|         Name| age|Experience| salary|
+---+-------------+----+----------+-------+
|  0|        krish|31.0|      10.0|30000.0|
|  1|   sudharshan|30.0|       8.0|25000.0|
|  2|        sunny|29.0|       4.0|20000.0|
|  3|         paul|24.0|       3.0|20000.0|
|  4|       harsha|21.0|       1.0|15000.0|
|  5|       shubam|23.0|       2.0|18000.0|
|  6|       mahesh|null|      null|40000.0|
|  7|missing_value|34.0|      10.0|38000.0|
|  8|missing_value|36.0|      null|   null|
+---+-------------+----+----------+-------+

In [17]:
pyspark_df.na.fill(0, ["experience","age"]).show() # fills the missing values in the experience,age column with 0

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh| 0.0|       0.0|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|       0.0|   null|
+---+----------+----+----------+-------+

**mean imputer**

In [21]:
from pyspark.ml.feature import Imputer

imp = Imputer(
    inputCols = ["age","Experience","salary"],
    outputCols = ["{}".format(c) for c in ["age","Experience","salary"] ]
).setStrategy("mean") # can be "median" or "mode" as well

#add imputation cols to df
imp.fit(pyspark_df).transform(pyspark_df).show()

+---+----------+----+-----------------+-------+
|_c0|      Name| age|       Experience| salary|
+---+----------+----+-----------------+-------+
|  0|     krish|31.0|             10.0|30000.0|
|  1|sudharshan|30.0|              8.0|25000.0|
|  2|     sunny|29.0|              4.0|20000.0|
|  3|      paul|24.0|              3.0|20000.0|
|  4|    harsha|21.0|              1.0|15000.0|
|  5|    shubam|23.0|              2.0|18000.0|
|  6|    mahesh|28.5|5.428571428571429|40000.0|
|  7|      null|34.0|             10.0|38000.0|
|  8|      null|36.0|5.428571428571429|25750.0|
+---+----------+----+-----------------+-------+