**Free code camp(Pyspark tutorial)**
https://www.youtube.com/watch?v=_C8kWso4ne4&t=66s

In [34]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [35]:
import pyspark
import pandas as pd

In [36]:
data = {
        "Name": ["krish","sudharshan","sunny"],
        "age" : [31, 30,29]
       }

df = pd.DataFrame.from_dict(data)     
df.to_csv("test1.csv")

In [37]:
from pyspark.sql import SparkSession

In [38]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [39]:
spark

In [40]:
df_spark = spark.read.csv("test1.csv")

In [41]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [42]:
df_spark.show()

+----+----------+---+
| _c0|       _c1|_c2|
+----+----------+---+
|null|      Name|age|
|   0|     krish| 31|
|   1|sudharshan| 30|
|   2|     sunny| 29|
+----+----------+---+

In [43]:
spark.read.option("header","true").csv("test1.csv").show()

+---+----------+---+
|_c0|      Name|age|
+---+----------+---+
|  0|     krish| 31|
|  1|sudharshan| 30|
|  2|     sunny| 29|
+---+----------+---+

In [44]:
df_spark = spark.read.option("header","true").csv("test1.csv", inferSchema = True) #setting infer schema to true makes spark to infer the data types of the columns

In [45]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [46]:
df_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)

In [48]:
df_spark.columns

['_c0', 'Name', 'age']

In [49]:
df_spark.head(3)  # in pandas this gives a data frame but in spark it is a list

[Row(_c0=0, Name='krish', age=31),
 Row(_c0=1, Name='sudharshan', age=30),
 Row(_c0=2, Name='sunny', age=29)]

In [51]:
df_spark.show()

+---+----------+---+
|_c0|      Name|age|
+---+----------+---+
|  0|     krish| 31|
|  1|sudharshan| 30|
|  2|     sunny| 29|
+---+----------+---+

In [53]:
df_spark.select("Name")   # selecting a column name this returns a spark dataframe

DataFrame[Name: string]

In [54]:
df_spark.select("Name").show()  # To select and show a column

+----------+
|      Name|
+----------+
|     krish|
|sudharshan|
|     sunny|
+----------+

In [55]:
df_spark.select(["Name","age"]).show() # To select and show a list of columns

+----------+---+
|      Name|age|
+----------+---+
|     krish| 31|
|sudharshan| 30|
|     sunny| 29|
+----------+---+

In [56]:
df_spark.dtypes

[('_c0', 'int'), ('Name', 'string'), ('age', 'int')]

In [58]:
df_spark.describe()

DataFrame[summary: string, _c0: string, Name: string, age: string]

In [60]:
df_spark.describe().show()

+-------+---+-----+----+
|summary|_c0| Name| age|
+-------+---+-----+----+
|  count|  3|    3|   3|
|   mean|1.0| null|30.0|
| stddev|1.0| null| 1.0|
|    min|  0|krish|  29|
|    max|  2|sunny|  31|
+-------+---+-----+----+

**Adding columns in dataFrame**

In [62]:
df_spark = df_spark.withColumn("Age_after_2Years",df_spark["age"]+2)

In [64]:
df_spark.show()

+---+----------+---+----------------+
|_c0|      Name|age|Age_after_2Years|
+---+----------+---+----------------+
|  0|     krish| 31|              33|
|  1|sudharshan| 30|              32|
|  2|     sunny| 29|              31|
+---+----------+---+----------------+

**Dropping the columns**

In [65]:
df_spark = df_spark.drop("Age_after_2Years")

In [66]:
df_spark.show()

+---+----------+---+
|_c0|      Name|age|
+---+----------+---+
|  0|     krish| 31|
|  1|sudharshan| 30|
|  2|     sunny| 29|
+---+----------+---+

**Rename a column**

In [67]:
df_spark = df_spark.withColumnRenamed("age","Age")

In [68]:
df_spark.show()

+---+----------+---+
|_c0|      Name|Age|
+---+----------+---+
|  0|     krish| 31|
|  1|sudharshan| 30|
|  2|     sunny| 29|
+---+----------+---+