<a href="https://colab.research.google.com/github/VishwanathReddyAenugu/MyLearning/blob/main/pyspark/pyspark3_filterOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

filtering operations

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d44cac5424f1647ed5a9abd4020d4b19a1a31f3290d106d279f2905f36a86e37
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [4]:
import pyspark
import pandas as pd

In [5]:
data = {
        "Name": ["krish","sudharshan","sunny","paul","harsha","shubam","mahesh",None,None],
        "age" : [31, 30,29,24,21,23,None,34,36],
        "Experience": [10,8,4,3,1,2,None,10,None],
        "salary": [30000, 25000, 20000, 20000, 15000, 18000, 40000, 38000,None]
       }

df = pd.DataFrame.from_dict(data)     
df.to_csv("test1.csv")

In [6]:
df = pd.DataFrame.from_dict(data)     
df.to_csv("test1.csv")

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

In [10]:
pyspark_df = spark.read.csv("test1.csv", header=True, inferSchema = True)
pyspark_df.show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

# Filter operations

In [11]:
# select rows where salary <= 20000
pyspark_df.filter("salary <= 20000").show()

+---+------+----+----------+-------+
|_c0|  Name| age|Experience| salary|
+---+------+----+----------+-------+
|  2| sunny|29.0|       4.0|20000.0|
|  3|  paul|24.0|       3.0|20000.0|
|  4|harsha|21.0|       1.0|15000.0|
|  5|shubam|23.0|       2.0|18000.0|
+---+------+----+----------+-------+

In [14]:
# select list of columns from the dataframe having rows where salary <= 20000
pyspark_df.filter("salary <= 20000").select(["Name","age"]).show()

+------+----+
|  Name| age|
+------+----+
| sunny|29.0|
|  paul|24.0|
|harsha|21.0|
|shubam|23.0|
+------+----+

Another way of doing it

In [15]:
pyspark_df.filter(pyspark_df["salary"] <= 20000).show()

+---+------+----+----------+-------+
|_c0|  Name| age|Experience| salary|
+---+------+----+----------+-------+
|  2| sunny|29.0|       4.0|20000.0|
|  3|  paul|24.0|       3.0|20000.0|
|  4|harsha|21.0|       1.0|15000.0|
|  5|shubam|23.0|       2.0|18000.0|
+---+------+----+----------+-------+

# **Filtering with multiple conditions**
##### condition = ()&()
##### df.filter(condition)

##### condition = ()|()  
##### df.filter(condition)

In [20]:
condition = (pyspark_df["salary"]<=20000) & (pyspark_df["salary"] >=1500)
pyspark_df.filter(condition).show()

+---+------+----+----------+-------+
|_c0|  Name| age|Experience| salary|
+---+------+----+----------+-------+
|  2| sunny|29.0|       4.0|20000.0|
|  3|  paul|24.0|       3.0|20000.0|
|  4|harsha|21.0|       1.0|15000.0|
|  5|shubam|23.0|       2.0|18000.0|
+---+------+----+----------+-------+

Inverse operation

In [21]:
pyspark_df.filter(~condition).show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
+---+----------+----+----------+-------+