<a href="https://colab.research.google.com/github/VishwanathReddyAenugu/MyLearning/blob/main/pyspark/pyspark4GroupbyAggregate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GroupBy and aggregate operations

In [9]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [10]:
import pyspark
import pandas as pd

In [11]:
data = {
        "Name": ["krish","sudharshan","sunny","paul","harsha","shubam","mahesh",None,None],
        "age" : [31, 30,29,24,21,23,None,34,36],
        "Experience": [10,8,4,3,1,2,None,10,None],
        "salary": [30000, 25000, 20000, 20000, 15000, 18000, 40000, 38000,None]
       }

df = pd.DataFrame.from_dict(data)     
df.to_csv("test1.csv")

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("groupByOperations").getOrCreate()
pydf = spark.read.csv("test1.csv",header = True, inferSchema=True)
pydf.show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

In [13]:
pydf.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- Experience: double (nullable = true)
 |-- salary: double (nullable = true)

In [14]:
pydf.show()

+---+----------+----+----------+-------+
|_c0|      Name| age|Experience| salary|
+---+----------+----+----------+-------+
|  0|     krish|31.0|      10.0|30000.0|
|  1|sudharshan|30.0|       8.0|25000.0|
|  2|     sunny|29.0|       4.0|20000.0|
|  3|      paul|24.0|       3.0|20000.0|
|  4|    harsha|21.0|       1.0|15000.0|
|  5|    shubam|23.0|       2.0|18000.0|
|  6|    mahesh|null|      null|40000.0|
|  7|      null|34.0|      10.0|38000.0|
|  8|      null|36.0|      null|   null|
+---+----------+----+----------+-------+

# groupBY

In [17]:
pydf.groupBy("Experience").sum().show()

+----------+--------+--------+---------------+-----------+
|Experience|sum(_c0)|sum(age)|sum(Experience)|sum(salary)|
+----------+--------+--------+---------------+-----------+
|       8.0|       1|    30.0|            8.0|    25000.0|
|       1.0|       4|    21.0|            1.0|    15000.0|
|      null|      14|    36.0|           null|    40000.0|
|       4.0|       2|    29.0|            4.0|    20000.0|
|       3.0|       3|    24.0|            3.0|    20000.0|
|       2.0|       5|    23.0|            2.0|    18000.0|
|      10.0|       7|    65.0|           20.0|    68000.0|
+----------+--------+--------+---------------+-----------+

In [18]:
pydf.groupBy("Name").sum().show()

+----------+--------+--------+---------------+-----------+
|      Name|sum(_c0)|sum(age)|sum(Experience)|sum(salary)|
+----------+--------+--------+---------------+-----------+
|      paul|       3|    24.0|            3.0|    20000.0|
|    shubam|       5|    23.0|            2.0|    18000.0|
|sudharshan|       1|    30.0|            8.0|    25000.0|
|     sunny|       2|    29.0|            4.0|    20000.0|
|     krish|       0|    31.0|           10.0|    30000.0|
|    mahesh|       6|    null|           null|    40000.0|
|    harsha|       4|    21.0|            1.0|    15000.0|
|      null|      15|    70.0|           10.0|    38000.0|
+----------+--------+--------+---------------+-----------+

In [19]:
pydf.groupBy("age").mean().show()

+----+--------+--------+---------------+-----------+
| age|avg(_c0)|avg(age)|avg(Experience)|avg(salary)|
+----+--------+--------+---------------+-----------+
|29.0|     2.0|    29.0|            4.0|    20000.0|
|34.0|     7.0|    34.0|           10.0|    38000.0|
|null|     6.0|    null|           null|    40000.0|
|36.0|     8.0|    36.0|           null|       null|
|23.0|     5.0|    23.0|            2.0|    18000.0|
|31.0|     0.0|    31.0|           10.0|    30000.0|
|21.0|     4.0|    21.0|            1.0|    15000.0|
|30.0|     1.0|    30.0|            8.0|    25000.0|
|24.0|     3.0|    24.0|            3.0|    20000.0|
+----+--------+--------+---------------+-----------+

In [20]:
pydf.agg({"salary":"sum"}).show()

+-----------+
|sum(salary)|
+-----------+
|   206000.0|
+-----------+

In [22]:
pydf.groupBy("Name").max().show()

+----------+--------+--------+---------------+-----------+
|      Name|max(_c0)|max(age)|max(Experience)|max(salary)|
+----------+--------+--------+---------------+-----------+
|      paul|       3|    24.0|            3.0|    20000.0|
|    shubam|       5|    23.0|            2.0|    18000.0|
|sudharshan|       1|    30.0|            8.0|    25000.0|
|     sunny|       2|    29.0|            4.0|    20000.0|
|     krish|       0|    31.0|           10.0|    30000.0|
|    mahesh|       6|    null|           null|    40000.0|
|    harsha|       4|    21.0|            1.0|    15000.0|
|      null|       8|    36.0|           10.0|    38000.0|
+----------+--------+--------+---------------+-----------+